/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/swirl-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;	
}

.center {
    width: 40%; /*this esnures responsiveness*/
	min-width: 300px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(0, 150, 178, .75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 8px solid rgba(255, 255, 255, .5); /* semi-opaque border*/
}

   
#logo {
    width: 60%; /* this ensures responsiveness*/
	min-width: 100px;
	margin-bottom: 16px;
	text-align: center;
}

h1 {
	font-family: forma-djr-banner, sans-serif;
font-weight: 800;
font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	font-family: forma-djr-banner, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 4px 0px;
    margin: 0px auto 10px auto;
}

p {
	font-family: forma-djr-banner, sans-serif;
font-weight: 200;
font-style: normal;
	font-size: 1.35em;
    line-height: 1.6;
    color: #fff;
	margin-bottom: 3px
}
nav{
	font-family: forma-djr-banner, sans-serif;
font-weight: 500;
font-style: normal;
	font-size: 1.2em;
	width: 60%; /*this makes sure the linkes stay in the center div*/
	margin: 0 auto;
	border: solid rgb(139, 255, 249);
	border-width: 2px 0;
	text-align: center;
	margin top: 1em;
}
nav li{
	display: inline;
}
nav a {
	display: inline-block;
	padding: 10px;
}
a{
	color: rgb(205, 255, 209);
	text-decoration: none;
	font-weight: bold;

}

.grower {
    display: block;
    margin: 0 auto;
    width: 120px;
    padding: 2px 5px;
    

    
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.grower:hover {
    background: rgb(230, 182, 100);
    border-color: rgba(230,182,100,1.0);

    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2); 


    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

